@font-face {
  font-family: minecraft;
  src: url('../minecraft.ttf');
}

@keyframes switching_words {
  
  0% {
    content: 'easier';
  }

  10% {
    opacity: 0%;
    transform: translateY(100%);
  }

  25% {
    opacity: 100%;
    content: 'simpler';
    transform: translateY(0%);
  }

  35% {
    opacity: 0%;
    transform: translateY(100%);
  }

  50% {
    opacity: 100%;
    content: 'reliable';
    transform: translateY(0%);
  }

  60% {
    opacity: 0%;
    transform: translateY(100%);
  }

  75% {
    opacity: 100%;
    content: 'safer';
    transform: translateY(0%);
  }

  85% {
    opacity: 0%;
    transform: translateY(100%);
  }

  100% {
    opacity: 100%;
    content: 'easier';
    transform: translateY(0%);
  }
}

body {
  background-color: black;
  padding: 0%;
  margin: 0%;
}

h1, h2, p, span, button, #download-button, a {
  font-family: minecraft, arial, sans-serif;
  font-weight: 550;
  color: white;
}

#download-button {
  width: 350px;
  height: 80px;
  font-size: 1.1em;
  background-color: black;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  transition: 0.3s;
}

#download-button:hover {
  color: #fc4235;
  font-size: 1.2em;
  transition: 0.3s;
}

.footer-button {
  position: relative;
  right: 15px;
  bottom: 25px;
  width: 100px;
  height: 100px;

  border: none;
  background-color: rgba(0,0,0,0);
  background-position-x: 50%;
  background-size: 90%;
  background-repeat: no-repeat;
  background-image: url('../icon_256.png');
}

.footer-icon {
  width: 100px;
  height: 100px;
  position: relative;
  left: 15px;
  bottom: 25%;
}

#github-button {
  left: 15px;
}

header {
  transform: translateZ(-1px);
  position: fixed;
  top:0px;
  right:0px;
}

header img {
  width: 25%;
  height: 25%;
  float: right;
  margin-top: 17vh;
  margin-right: 2%;
}

header h1 {
  float: left;
  width: 70%;
  margin-top: 50vh;
}

header h1:after {
  display: inline-block;
  content: 'easier';
  animation: switching_words 12s infinite;
}

main {
  box-shadow: 0px -45px 80px 60px black;
  background-color: black;
  margin: 0px;
  margin-right: 0px;
  margin-top: 50%;
}

main div {
  padding: 5%;
}

#main_bottom {
  margin-top: 5%;
  margin-bottom: 0%;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  background-color: none;
}

header, main, footer {
  text-align: center;
}

main, footer {
  transform: translateZ(0px);
}

footer {
  background-color: #0f0f0f;
  border: none;
  margin: 0px;
  padding: 0px;
  padding-top: 5%;
  height: 100%;
  width: 100%;
}